body{
    font-family: 'Noto Sans TC', sans-serif;
    --inv: rgb(158, 156, 156);
    --def: #96B7C4;
}

/* overlay css */
.react-overlay-loader-spinner:before {
    border-top-color: rgb(57, 66, 80);
}

/*Banner Css */
.swiper-button-next{
    color:rgb(247, 247, 247);
}
.swiper-button-prev{
    color:rgb(247, 247, 247);
}




/* Footer */
.client-footer{
    font-weight: 600;
    font-size: 1em;
    position: relative;
    text-align: center;
    color:rgb(94, 88, 88);
    background-color: rgb(238, 238, 238);
    margin:20px 15px;
    padding:30px;
}
.client-footer h5{
    font-weight: 600;
    font-size: 1.3em;
}

.client-footer i{
    font-size:1.8em;
    cursor: pointer;
}
.client-footer footer{
    border-top:1px solid gray;
    padding-top:10px;
    margin-top:30px;
    margin-bottom: 0;
}


/*Shop Index */

.banner-title{
    text-align: center;
    width:400px;
    height: 200px;
    background-color:rgba(170, 167, 167, 0.801);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.banner-border{
    width:440px;
    height: 240px;
    border:5px solid rgba(170, 167, 167, 0.801);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);

}
.banner-title span{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size:2em;
    color:rgb(71, 66, 66);

}

.index-btn:hover a{
    text-decoration: none;
    color:white;
    transition: .6s;
}

.index-btn a{
    color:gray;
}

.index-btn {		
	position: relative;	
	padding: 1.5rem 0.8rem;
	font-size: 1.1rem;
	color: var(--inv);
	text-transform: uppercase;
	transition: all 600ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.index-btn:before, .index-btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.index-btn:hover {
	color: var(--def);
    transition-delay: .6s;
}

.index-btn:hover:before {
	transition-delay: 0s;
}

.index-btn:hover:after {
	background: var(--inv);
	transition-delay: .4s;
}

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}

.item-banner{
    position: absolute;
    background-color: rgba(102, 98, 98, 0.808);
    width:200px;
    height:100px;
    z-index: 1;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:rgb(255, 251, 251);
    transition: all .3s ease;
    opacity: 0;
}
.item-banner span{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.item-image:hover .item-banner{
    opacity: 1;
}

.subscribe-box{
    background:#d3d3d3d6;
    width:600px;
    height:180px;
    position:relative;
    top:25%;
    left:20%;
}



/*ShopItemList*/

.list-banner{
    position: relative;
    width:100%;
    height:300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url("https://images.unsplash.com/photo-1544441893-675973e31985?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80")
}

.list-banner h1{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    color:rgb(211, 201, 201);
}


.list-nav .list-group-item{
    color:rgb(114, 107, 107);
    border:solid 1px rgba(192, 180, 174, 0.795);
    text-decoration: none;
    border-radius: 0%;
    margin:-1px;
    text-align:center;
}

.list-nav .list-group-item:hover{
    cursor: pointer;
    color:rgb(255, 255, 255);
    background-color: rgba(192, 180, 174, 0.795);
    transition: 0.2s;
}
.list-nav .list-group-item.active{
    color:rgb(85, 83, 83);
    background-color: rgba(192, 180, 174, 0.795);
}


.item-box{
    box-shadow: 2px 2px 11px hsla(28,37%,90%,.7);
}






.origin-price{
    font-size:0.9rem;
    color:rgb(167, 161, 161);
    text-decoration: line-through;
}
.actual-price{
    font-size:1.3rem;
    color:rgb(252, 77, 77);
    font-weight: 600;
}

.itemBoxImg-parent{
    width:100%;
    height: 225px;
    display: inline-block;
    overflow: hidden;
}

.itemBoxImg-child{
    width: 100%;
    height: 100%;
    background-color: black; /* fallback color */
    background-position: center;
    background-size: cover;
    transition: all 0.3s;
}

.itemBoxImg-parent:hover .itemBoxImg-child ,.itemBoxImg-parent:focus .itemBoxImg-child{
    transform: scale(1.1);
}

.item-box-buy{
    display: block;
    padding:0.5em 0 ;
    border-radius: 2px;
    background-color: rgb(214, 203, 203);
    cursor:pointer;
    text-align: center;
    margin:0.5em;
}
.item-box-buy:hover{
    background-color: rgb(155, 135, 135);
    transition: 0.2s;
}



/* ItemDetail */

.item-detail-img{
    max-width:100%;
    height:auto;
}

.item-detail-name{
    border-left:20px solid gray;
    padding-bottom: 0.3em;
}
.item-detail-oriPrice{
    text-decoration: line-through;
    font-size:1em;
    color:rgb(145, 144, 144);
}
.item-detail-Price{
    color:rgb(218, 69, 69);
    text-align: end;
    font-size:1.5em;
}

.item-buy{
    padding:25px 10px 50px 10px;
    border-top:1px solid rgb(173, 171, 171);
    border-bottom:1px solid rgb(173, 171, 171);
}

.item-detail-describe{
    text-align: center;
}

.item-detail-describe .tab{
    font-size:0.8em;
    color:rgb(133, 130, 130);
    border-bottom:1.5px solid rgb(197, 197, 197);
    border-radius: 3px;
    margin:0px -1px;
    padding:10px;
}
.item-detail-describe .tab.tab-focus{
    color:rgb(78, 78, 78);
    border:1.5px solid rgb(109, 109, 109);
    border-bottom: none;
}

.item-detail-describe .tab:hover{
    color:gray;
    border:1.5px solid rgb(197, 197, 197);
    border-bottom:none;
}

.modal-Option{
    color:gray;
    font-size:0.5em;
}
.modal-Option:hover,.modal-Option:focus{
    text-decoration: none;
    color:rgb(46, 45, 45);
    font-weight: 700;
}


/*Cart List*/
.cart-list{
    padding:20px 10px;
    border-top:1px solid rgb(170, 170, 170);
    border-bottom:1px solid rgb(170, 170, 170);
    margin:0 -5px -1px -5px;
}

.cart-item-text{
    color:rgb(90, 90, 90);
    font-size: 0.9em;
}

/*CheckOut Page */

.checkout-title{
    font-weight: 700;
    margin:10px 5px;
    widows: 80px;
    padding:20px 20px;
    background-color:rgb(235, 235, 235);
    text-align: center;
}

.checkout-title.active{
    font-weight: 500;
    background-color: rgb(175, 138, 138);
    color:rgb(255, 255, 255);
}



/* DashBoard ListGroup */

.list-group-item.active{
    background-color:rgb(194, 186, 186) ;
    border-color:rgb(194, 186, 186);
}

.dropdown-item.active, .dropdown-item:active{
    background-color:rgb(194, 186, 186) ;
}

.page-item >.page-link{
    color:rgb(57, 66, 80);
    
}
.page-item.active >.page-link{
    background-color:rgb(194, 186, 186);
    border-color: rgb(194, 186, 186);
}


@media(max-width:64em){
    .card-columns{
        column-count: 2;
    }

    .item-banner{
        width:130px;
        font-size:0.8em;
    }
    .subscribe-box{
        width:400px;
    }
}

@media(max-width:56em){
    .card-columns{
        column-count: 1;
    }

    .item-banner{
        width:100px;
        font-size:0.6em;

    }
    
    .subscribe-box{
        width:350px;
    }

}